{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "forceAllTransforms": true,
        "corejs": "3.32.0"
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    ["@babel/preset-typescript"]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
